# ============================================
# Variables de Base de Datos (PostgreSQL)
# ============================================
DB_USER=lite_user
DB_PASSWORD=lite_password
DB_NAME=lite_db
DB_HOST=IP_ADDRESS
DB_PORT=5432

# ============================================
# Llave de Django
# ============================================
DJANGO_SECRET_KEY=tu_llave_django

# ============================================
# Google Gemini — IA Generativa
# ============================================
# Obtén tu API Key en: https://aistudio.google.com/apikey
GEMINI_API_KEY=tu_api_key_aqui

# ============================================
# Brevo — Envío de Correos
# ============================================
# Obtén tu API Key en: https://www.brevo.com/
BREVO_API_KEY=tu_api_key_de_brevo

NEXT_PUBLIC_API_URL=http://127.0.0.1:8000
NEXT_PUBLIC_FASTAPI_URL=http://127.0.0.1:8001
